body {
  background-image: linear-gradient(#ffd359, #fad46b, #ffdc7d, #ffe294);
}

p {
text-align: center;
font-family: Montserrat, bold;
font-size: 30px;
}

.zmiany{
text-align: center;
font-family: Montserrat;
color: #90ff8c;
text-decoration: none;
}

.play {
text-align: center;
font-family: Montserrat;
color: #90ff8c;
text-decoration: none;
}

a {
text-align: center;
font-family: Montserrat;
color: #33b1ff;
text-decoration: none;
}

